/**
 * Site header
 */
.site-header {
    background-color: rgba(255,255,255,0);
    /*border-bottom: 4px solid $grey-color-pitch;*/
    /*border-top: 1px solid $grey-color-pitch;*/
    min-height: 356px;

    // Positioning context for the mobile navigation icon
    position: relative;
    .wrapper {
        padding-top: 223px;
       /*background-color: rgba(255,255,255,1); */
       @include media-query($on-palm) { 
           padding-top: 63px;
       }
    }

    @include media-query($on-palm) { 
        min-height: 196px;
    }
}

.zigzag {
    height: 16px;
    background: url("/img/static/zigzag.png");
    @include media-query($on-palm) { 
        height: 8px;
        background-size: 16px 8px;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding: 0 10px 0 10px;  
    float: left;

    /*border-left: 1px solid $grey-color-dark; */
    /*border-right: 1px solid $grey-color-dark; */
    transition: text-shadow 0.5s, background-color 0.5s, border 0.5s;

    &,
    &:visited{
        color: $nav-font-color;        
        text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
    }
    &:hover {
        text-shadow: 0 2px 0 rgba(0, 0, 0, .7);
        /*background-color: lighten($grey-color-pitch, 4%); */
        /*border-left: 1px solid lighten($grey-color-pitch, 2%); */
        /*border-right: 1px solid lighten($grey-color-pitch, 2%); */
    }

}
.mascot {
    transition: margin 0.5s;
    
    width: 128px;
    height: 128px;

    background: url("/Gonster-transparent.png") no-repeat;
    background-size: 128px 128px;
    &:hover {
        margin-left: 4px;
    }
}

.site-nav {
    box-shadow: 1px 0 3px rgba(0,0,0,.3);
    float: right;
    line-height: 56px;
    margin-top: 30px;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        line-height: $base-line-height;        
        text-shadow: 0 1px 0 rgba(0, 0, 0, .7);        
        transition: text-shadow 0.5s;
       &:hover {
            text-decoration: none;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);      
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    /*@include media-query($on-palm) {        */
        color: $grey-color;
        position: absolute;
        top: 35px;
        right: 50px;
        background-color: $grey-color-bright;
        border-bottom: 2px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;            
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;             
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
        @include media-query($on-palm) { 
            margin-top: 60px;
            right: 35px;
            top: auto;
        }
    /*}*/
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: rgba(255,255,255,1);
}

.site-footer .user-name {
        vertical-align: top;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit*2 0;
    @include media-query($on-palm) { 
        padding: $spacing-unit 0;
    }

    background-color: $page-content-background-color;
    min-height: 65%;
}

.page-heading {
    font-size: 20px;
    border-bottom: 1px dotted $grey-color-light;
    display: none;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {       
        transition: box-shadow 0.5s, background-color 0.5s;
        background-color: $li-color;
        padding: $spacing-unit/2;
        margin-bottom: $spacing-unit/4;
        box-shadow: 0 2px 0 rgba(0, 0, 0, .06);
        border:1px solid #f6f6f6;
        border-radius: 4px;
        &:hover {        
            background-color: darken($li-color, 0.5%);
            box-shadow: 0 0 0 rgba(0, 0, 0, .08);
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-summary{    
    color: $text-color;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.back-home {
    margin-bottom: 50px;
    text-align: center;
    height: 128px;
    width: 100%;

    .mascot {
        display: inline-block;
        border-radius: 64px;
        border: 2px solid #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.5);
        background: url("/Gonster-128.png") no-repeat;
        background-size: 128px 128px;
    }
}
